---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Test 301 page">
    <section class="about">
        <h1>Test 301 redirect page</h1>

        <style>
            .about {
                max-width: 640px;
                margin: 0 auto;
                padding: 3rem 0 4rem;
            }
        </style>
    </section>
</Layout>
